# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:

database:
    default:
        dsn:          "mysql:host=127.0.0.1;dbname=pzrs"
        user:         "root"
        password:     ""


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: MyAuthenticator
	pm:	App\Model\PostsManager
	rm:	App\Model\ResultsManager
	tm:	App\Model\TeamsManager
	em:	App\Model\EnemyManager

#security:
    #users:
        #admin: secret  # user 'admin', password 'secret'

